{% extends 'Base.html' %}

{% block title %}
<title>PLC</title>
{% endblock %}

{% block a %}
a {
    width: 200px;
    height: 60px;
}
{% endblock %}

{% block htmlstyle %}
html {
    height: 480px;
}
{% endblock %}

{% block bodystyle %}
body {
    height: 480px;
}
{% endblock %}

{% block buttons %}
.buttons {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
{% endblock %}

{% block interface %}
<img src="{{ url_for('static', filename='PLC/interface.png') }}" style="position: absolute; top: 10px; left: 230px;"/>
{% endblock %}

{% block body %}
<a href="/"><img src="{{ url_for('static', filename='EngineeringMenu/MainScreen.png') }}"/></a>
<a href="/SetpointPlanner"><img src="{{ url_for('static', filename='EngineeringMenu/Back.png') }}"/></a>
<a href="/SettingsPID"><img src="{{ url_for('static', filename='EngineeringMenu/SettingsPID.png') }}"/></a>
<a><img src="{{ url_for('static', filename='EngineeringMenu/PLCOpen.png') }}"/></a>
<a href="/Backup"><img src="{{ url_for('static', filename='EngineeringMenu/Backup.png') }}"/></a>
{% endblock %}