{% extends 'Base.html' %}

{% block title %}
<title>Вкл. доп. насосов</title>
{% endblock %}

{% block styleforrightbody %}
p {
    font-family: Roboto;
    font-size: 16px;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 20px;
    margin: 0px;
}
hr {
    margin: 0px;
    border-color: #616161;
}
{% endblock %}

{% block container %}
<div class="buttons">
    <img onclick="window.location.href='/'" src="{{ url_for('static', filename='iconsbutton/MainScreen.png') }}"
         style="position: absolute; top: 16px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/'" class="button200x60">Главный экран</button>

    <img onclick="window.location.href='/SetpointPlanner'" src="{{ url_for('static', filename='iconsbutton/Back.png') }}"
         style="position: absolute; top: 76px; left: 13px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/SetpointPlanner'" class="button200x52">Назад</button>

    <img onclick="window.location.href='/EngineParameters'" src="{{ url_for('static', filename='iconsbutton/EngineParameters.png') }}"
         style="position: absolute; top: 124px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/EngineParameters'" class="button200x52">Параметры двигателей</button>

    <img onclick="window.location.href='/SensorSettings'" src="{{ url_for('static', filename='iconsbutton/SensorSettings.png') }}"
         style="position: absolute; top: 175px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/SensorSettings'" class="button200x52">Настройки датчиков</button>

    <img onclick="window.location.href='/PumpParametersInGeneral'" src="{{ url_for('static', filename='iconsbutton/SensorSettings.png') }}"
         style="position: absolute; top: 227px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/PumpParametersInGeneral'" class="button200x52">Параметры насосов общ.</button>

    <img src="{{ url_for('static', filename='iconsbutton/On.png') }}"
         style="position: absolute; top: 285px; left: 13px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button class="button200x52">Вкл. доп.<br>насосов</button>
    <img src="{{ url_for('static', filename='iconsbutton/Triangle.png') }}"
         style="position: absolute; top: 278px; left: 180px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img onclick="window.location.href='/OffOfAdditionalPumps'" src="{{ url_for('static', filename='iconsbutton/Off.png') }}"
         style="position: absolute; top: 338px; left: 13px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/OffOfAdditionalPumps'" class="button200x52">Откл. дов.<br>насосов</button>

    <img onclick="window.location.href='/Options'" src="{{ url_for('static', filename='iconsbutton/Options.png') }}"
         style="position: absolute; top: 387px; left: 13px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/Options'" class="button200x52">Опции</button>

    <img onclick="window.location.href='/EmergencyModes'" src="{{ url_for('static', filename='iconsbutton/Modes.png') }}"
         style="position: absolute; top: 441px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/EmergencyModes'" class="button200x52">Аварийные режимы</button>
</div>
{% endblock %}

{% block clock %}
<div id="clock"></div>
{% endblock %}

{% block interface %}
<div class="rightbody">
    <div style="width: 600px; height: 480px;">

    </div>
</div>
{% endblock %}