{% extends 'Base.html' %}

{% block title %}
<title>Настройки датчиков</title>
{% endblock %}

{% block styleforrightbody %}
p {
    font-family: Roboto;
    font-size: 16px;
    color: white;
    font-weight: bold;
    width: 250px;
    height: 20px;
    margin: 0px;
}
hr {
    margin: 0px;
    border-color: #616161;
}
{% endblock %}

{% block container %}
<div class="buttons">
    <img onclick="window.location.href='/'" src="{{ url_for('static', filename='iconsbutton/MainScreen.png') }}"
         style="position: absolute; top: 16px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/'" class="button200x60">Главный экран</button>

    <img onclick="window.location.href='/SetpointPlanner'" src="{{ url_for('static', filename='iconsbutton/Back.png') }}"
         style="position: absolute; top: 76px; left: 13px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/SetpointPlanner'" class="button200x52">Назад</button>

    <img onclick="window.location.href='/EngineParameters'" src="{{ url_for('static', filename='iconsbutton/EngineParameters.png') }}"
         style="position: absolute; top: 124px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/EngineParameters'" class="button200x52">Параметры двигателей</button>

    <img src="{{ url_for('static', filename='iconsbutton/SensorSettings.png') }}"
         style="position: absolute; top: 175px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button class="button200x52">Настройки датчиков</button>
    <img src="{{ url_for('static', filename='iconsbutton/Triangle.png') }}"
         style="position: absolute; top: 173px; left: 180px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img onclick="window.location.href='/PumpParametersInGeneral'" src="{{ url_for('static', filename='iconsbutton/SensorSettings.png') }}"
         style="position: absolute; top: 227px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/PumpParametersInGeneral'" class="button200x52">Параметры насосов общ.</button>

    <img onclick="window.location.href='/OnAdditionalPumps'" src="{{ url_for('static', filename='iconsbutton/On.png') }}"
         style="position: absolute; top: 285px; left: 13px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/OnAdditionalPumps'" class="button200x52">Вкл. доп.<br>насосов</button>

    <img onclick="window.location.href='/OffOfAdditionalPumps'" src="{{ url_for('static', filename='iconsbutton/Off.png') }}"
         style="position: absolute; top: 338px; left: 13px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/OffOfAdditionalPumps'" class="button200x52">Откл. дов.<br>насосов</button>

    <img onclick="window.location.href='/Options'" src="{{ url_for('static', filename='iconsbutton/Options.png') }}"
         style="position: absolute; top: 387px; left: 13px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/Options'" class="button200x52">Опции</button>

    <img onclick="window.location.href='/EmergencyModes'" src="{{ url_for('static', filename='iconsbutton/Modes.png') }}"
         style="position: absolute; top: 441px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/EmergencyModes'" class="button200x52">Аварийные режимы</button>
</div>
{% endblock %}

{% block clock %}
<div id="clock"></div>
{% endblock %}

{% block switch %}
var collectednumber = '';
var collectednumbernumpad = '';

var input1 = document.getElementById('InputText1');
var input2 = document.getElementById('InputText2');
var input3 = document.getElementById('InputText3');
var input4 = document.getElementById('InputText4');

var input2check = false;
var input4check = false;

function appendToResult(value) {
    var result = document.getElementById('passwordresult').innerText;
    if (result.length < 8) {
        collectednumber += value;
        document.getElementById('passwordresult').innerText += '*';
    }
}
function clearResult() {
var result = document.getElementById('passwordresult').innerText;
    if (result !== '') {
        collectednumber = '';
        document.getElementById('passwordresult').innerText = '';
    }
}
function clearLastValue() {
    var result = document.getElementById('passwordresult').innerText;
    if (result !== '') {
        collectednumber = collectednumber.slice(0, -1);
        document.getElementById('passwordresult').innerText = result.slice(0, -1);
    }
}

var ModalPassword = document.getElementById('ModalPassword');
var OffModelPassword = document.getElementsByClassName("closeModalPassword")[0];
var OffModelNumpad = document.getElementsByClassName("closeModalNumpad")[0];

var currectpassword = false;

OffModelPassword.onclick = function() {
    ModalPassword.style.display = "none";
    document.getElementById('passwordresult').innerText = '';
    collectednumber = '';
}

OffModelNumpad.onclick = function() {
    ModalNumpad.style.display = "none";
    document.getElementById('numpad').innerText = '';
    collectednumbernumpad = '';
}

function appendToNumpad(value) {
    var result = document.getElementById('numpad').innerText;
    if (input2check === true) {
        if (value==="0" && result.length === 0){
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result.length===1 && value==="." && result[0] ==="0"){
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result.length<4 && value>=0 && value<=9 && result[1] ==="."){
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result.length === 0 && value>=0 && value<=9) {
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result.length === 1 && value==='.') {
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result.length === 1 && value>=0 && value<=9 && result[0]!=="0") {
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result.length === 2 && result[0]>0 && result[0]<=9 && result[1]>=0 && result[1]<=9 && value===".") {
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result[2]==="." && value>=0 && value<=9 && result.length<5) {
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        }
    } else if (input4check === true) {
        if (value==="0" && result.length === 0){
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result.length===1 && value==="." && result[0] ==="0"){
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result.length<4 && value>=0 && value<=9 && result[1] ==="."){
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result.length === 0 && value>=0 && value<=9) {
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result.length === 1 && value==='.') {
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result.length === 1 && value>=0 && value<=9 && result[0]!=="0") {
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result.length === 2 && result[0]>0 && result[0]<=9 && result[1]>=0 && result[1]<=9 && value===".") {
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        } else if (result[2]==="." && value>=0 && value<=9 && result.length<5) {
            collectednumbernumpad += value;
            document.getElementById('numpad').innerText += value;
        }
    }
}

function clearNumpad() {
var result = document.getElementById('numpad').innerText;
    if (result !== '') {
        collectednumbernumpad = '';
        document.getElementById('numpad').innerText = '';
    }
}

function clearLastValueNumpad() {
    var result = document.getElementById('numpad').innerText;
    if (result !== '') {
        collectednumbernumpad = collectednumber.slice(0, -1);
        document.getElementById('numpad').innerText = result.slice(0, -1);
    }
}

function checkNumpad() {
    if (input2check === true) {
        if (collectednumbernumpad.length===0){
            <!---->
        } else if (collectednumbernumpad==="0"){
            input2.innerText = collectednumbernumpad + ".00";
        } else if (collectednumbernumpad[0]==="0" && collectednumbernumpad[1]==="." && collectednumbernumpad.length===2) {
            input2.innerText = collectednumbernumpad + "00";
        } else if (collectednumbernumpad[0]==="0" && collectednumbernumpad[1]==="." && collectednumbernumpad[2]==="0" && collectednumbernumpad.length===3) {
            input2.innerText = collectednumbernumpad + "0";
        } else if (collectednumbernumpad[0]==="0" && collectednumbernumpad[1]==="." && collectednumbernumpad[2]==="0" && collectednumbernumpad[3]==="0" && collectednumbernumpad.length===4) {
            input2.innerText = collectednumbernumpad;
        } else if (collectednumbernumpad[0]==="0" && collectednumbernumpad[1]==="." && collectednumbernumpad[2]>=0 && collectednumbernumpad[2]<=9 && collectednumbernumpad.length===3) {
            input2.innerText = collectednumbernumpad + "0";
        } else if (collectednumbernumpad[0]==="0" && collectednumbernumpad[1]==="." && collectednumbernumpad[2]>=0 && collectednumbernumpad[2]<=9 && collectednumbernumpad.length===4) {
            input2.innerText = collectednumbernumpad;
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad.length===1) {
            input2.innerText = collectednumbernumpad + ".00";
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad.length===2 && collectednumbernumpad[1]===".") {
            input2.innerText = collectednumbernumpad + "00";
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad.length===3 && collectednumbernumpad[1]===".") {
            input2.innerText = collectednumbernumpad + "0";
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad.length===4 && collectednumbernumpad[1]===".") {
            input2.innerText = collectednumbernumpad;
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad[1]>=0 && collectednumbernumpad[1]<=9 && collectednumbernumpad.length===2) {
            input2.innerText = collectednumbernumpad + ".00";
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad[1]>=0 && collectednumbernumpad[1]<=9 && collectednumbernumpad.length===3 && collectednumbernumpad[2]===".") {
            input2.innerText = collectednumbernumpad + "00";
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad[1]>=0 && collectednumbernumpad[1]<=9 && collectednumbernumpad.length===4 && collectednumbernumpad[2]==="." && collectednumbernumpad[3]>=0 && collectednumbernumpad[3]<=9) {
            input2.innerText = collectednumbernumpad + "0";
        } else if (collectednumbernumpad.length===5) {
            input2.innerText = collectednumbernumpad;
        }
        var formData = new FormData();
        formData.append('Suction_Rating', input2.innerText);
        fetch('/update_data', {
            method: 'POST',
            body: formData
        })
        ModalNumpad.style.display = "none";
        collectednumbernumpad = '';
        document.getElementById('numpad').innerText = '';
        input2check = false;
    } else if (input4check === true) {
        if (collectednumbernumpad.length===0){
            <!---->
        } else if (collectednumbernumpad==="0"){
            input4.innerText = collectednumbernumpad + ".00";
        } else if (collectednumbernumpad[0]==="0" && collectednumbernumpad[1]==="." && collectednumbernumpad.length===2) {
            input4.innerText = collectednumbernumpad + "00";
        } else if (collectednumbernumpad[0]==="0" && collectednumbernumpad[1]==="." && collectednumbernumpad[2]==="0" && collectednumbernumpad.length===3) {
            input4.innerText = collectednumbernumpad + "0";
        } else if (collectednumbernumpad[0]==="0" && collectednumbernumpad[1]==="." && collectednumbernumpad[2]==="0" && collectednumbernumpad[3]==="0" && collectednumbernumpad.length===4) {
            input4.innerText = collectednumbernumpad;
        } else if (collectednumbernumpad[0]==="0" && collectednumbernumpad[1]==="." && collectednumbernumpad[2]>=0 && collectednumbernumpad[2]<=9 && collectednumbernumpad.length===3) {
            input4.innerText = collectednumbernumpad + "0";
        } else if (collectednumbernumpad[0]==="0" && collectednumbernumpad[1]==="." && collectednumbernumpad[2]>=0 && collectednumbernumpad[2]<=9 && collectednumbernumpad.length===4) {
            input4.innerText = collectednumbernumpad;
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad.length===1) {
            input4.innerText = collectednumbernumpad + ".00";
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad.length===2 && collectednumbernumpad[1]===".") {
            input4.innerText = collectednumbernumpad + "00";
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad.length===3 && collectednumbernumpad[1]===".") {
            input4.innerText = collectednumbernumpad + "0";
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad.length===4 && collectednumbernumpad[1]===".") {
            input4.innerText = collectednumbernumpad;
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad[1]>=0 && collectednumbernumpad[1]<=9 && collectednumbernumpad.length===2) {
            input4.innerText = collectednumbernumpad + ".00";
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad[1]>=0 && collectednumbernumpad[1]<=9 && collectednumbernumpad.length===3 && collectednumbernumpad[2]===".") {
            input4.innerText = collectednumbernumpad + "00";
        } else if (collectednumbernumpad[0]>=1 && collectednumbernumpad[0]<=9 && collectednumbernumpad[1]>=0 && collectednumbernumpad[1]<=9 && collectednumbernumpad.length===4 && collectednumbernumpad[2]==="." && collectednumbernumpad[3]>=0 && collectednumbernumpad[3]<=9) {
            input4.innerText = collectednumbernumpad + "0";
        } else if (collectednumbernumpad.length===5) {
            input4.innerText = collectednumbernumpad;
        }
        var formData = new FormData();
        formData.append('Discharge_Rating', input4.innerText);
        fetch('/update_data', {
            method: 'POST',
            body: formData
        })
        ModalNumpad.style.display = "none";
        collectednumbernumpad = '';
        document.getElementById('numpad').innerText = '';
        input4check = false;
    }
}

input1.onclick = function() {
    if (currectpassword === true) {
        if(input1.onclick) {
            ModalNumpad.style.display = "block";
            document.getElementById('maxtext').style.left = "191px";
            document.getElementById('max').style.left = "238px";
            document.getElementById('min').innerText = '0.00';
            document.getElementById('max').innerText = '99.99';
            input2check = true;
        }
    } else {
        ModalPassword.style.display = "block";
    }
}

input3.onclick = function() {
    if (currectpassword === true) {
        if(input3.onclick) {
            ModalNumpad.style.display = "block";
            document.getElementById('maxtext').style.left = "191px";
            document.getElementById('max').style.left = "238px";
            document.getElementById('min').innerText = '0.00';
            document.getElementById('max').innerText = '99.99';
            input4check = true;
        }
    } else {
        ModalPassword.style.display = "block";
    }
}

fetch('/data')
  .then(response => response.json())
  .then(data => {
    document.getElementById('InputText2').textContent = data.Suction_Rating;
  })

fetch('/data')
  .then(response => response.json())
  .then(data => {
    document.getElementById('InputText4').textContent = data.Discharge_Rating;
  })

var resultpassword = '7531';
function checkPassword() {
    if (collectednumber === resultpassword) {
        console.log('Пароль верный!');
        var result = document.getElementById('passwordresult').innerText;
        ModalPassword.style.display = "none";
        document.getElementById('passwordresult').innerText = '';
        collectednumber = '';
        hideFlickeringElements()
    } else {
        console.log('Неправильный пароль!');
    }
}
function delay(t) {
    return new Promise(res => {
        timerId = setTimeout(res, t);
    });
}
async function hideFlickeringElements() {
    var flickeringElements = document.querySelectorAll('.flickering');
    await delay(300);
    flickeringElements.forEach(function(element) {
        element.style.display = 'none';
        currectpassword = true;
    });
    await delay(250000);
    flickeringElements.forEach(function(element) {
        element.style.display = '';
        currectpassword = false;
    });
    ModalNumpad.style.display = "none";
    document.getElementById('numpad').innerText = '';
    collectednumbernumpad = '';
    input2check = false;
    input4check = false;
}
{% endblock %}

{% block interface %}
<div class="rightbody">
    <div style="width: 600px; height: 480px;">
        <div id="ModalNumpad" class="Modal">
            <div class="ModalContent">
                <p style="position: absolute; top: 17px; left: 14px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 240px; font-size: 18px;">MIN:</p>
                <p id="min" style="position: absolute; top: 17px; left: 56px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 240px; font-size: 18px;"></p>
                <p id="maxtext" style="position: absolute; top: 17px; left: 191px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 240px; font-size: 18px;">MAX:</p>
                <p id="max" style="position: absolute; top: 17px; left: 238px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 240px; font-size: 18px;"></p>
                <div class="passwordprint">
                    <p id="numpad" style="text-align: right; position: absolute; top: 9px; left: 12px; right: 0px; bottom: 0px; font-family: Roboto; font-size: 28px; font-weight: bold;"></p>
                </div>
                <button onclick="appendToNumpad('7')" class="inputbtnblack" style="position: absolute; top: 114px; left: 15px; right: 0px; bottom: 0px;">7</button>
                <button onclick="appendToNumpad('8')" class="inputbtnblack" style="position: absolute; top: 114px; left: 85px; right: 0px; bottom: 0px;">8</button>
                <button onclick="appendToNumpad('9')" class="inputbtnblack" style="position: absolute; top: 114px; left: 155px; right: 0px; bottom: 0px;">9</button>
                <button onclick="clearNumpad()" class="inputbtnc" style="position: absolute; top: 114px; left: 225px; right: 0px; bottom: 0px;">C</button>
                <button onclick="appendToNumpad('4')" class="inputbtnblack" style="position: absolute; top: 184px; left: 15px; right: 0px; bottom: 0px;">4</button>
                <button onclick="appendToNumpad('5')" class="inputbtnblack" style="position: absolute; top: 184px; left: 85px; right: 0px; bottom: 0px;">5</button>
                <button onclick="appendToNumpad('6')" class="inputbtnblack" style="position: absolute; top: 184px; left: 155px; right: 0px; bottom: 0px;">6</button>
                <button onclick="clearLastValueNumpad()" class="inputbtnblack" style="position: absolute; top: 184px; left: 225px; right: 0px; bottom: 0px;"><-</button>
                <button onclick="appendToNumpad('1')" class="inputbtnblack" style="position: absolute; top: 254px; left: 15px; right: 0px; bottom: 0px;">1</button>
                <button onclick="appendToNumpad('2')" class="inputbtnblack" style="position: absolute; top: 254px; left: 85px; right: 0px; bottom: 0px;">2</button>
                <button onclick="appendToNumpad('3')" class="inputbtnblack" style="position: absolute; top: 254px; left: 155px; right: 0px; bottom: 0px;">3</button>
                <button class="inputbtnblack closeModalNumpad" style="position: absolute; top: 254px; left: 225px; right: 0px; bottom: 0px;">Esc</button>
                <button onclick="appendToNumpad('.')" class="inputbtnblack" style="position: absolute; top: 324px; left: 15px; right: 0px; bottom: 0px;">,</button>
                <button onclick="appendToNumpad('0')" class="inputbtnblack" style="position: absolute; top: 324px; left: 85px; right: 0px; bottom: 0px;">0</button>
                <button onclick="checkNumpad()" class="inputbtngreen" style="position: absolute; top: 324px; left: 155px; right: 0px; bottom: 0px;">Enter</button>
            </div>
        </div>
        <div id="ModalPassword" class="Modal">
            <div class="ModalContent">
                <div class="backgroundblack">
                    <p class="passswordp">Введите пароль</p>
                </div>
                <div class="passwordprint">
                    <p id="passwordresult" dir="rtl" style="position: absolute; top: 9px; left: 12px; right: 0px; bottom: 0px; font-family: Roboto; font-size: 28px; font-weight: bold;"></p>
                </div>
                <button onclick="appendToResult('7')" class="inputbtnblack" style="position: absolute; top: 114px; left: 15px; right: 0px; bottom: 0px;">7</button>
                <button onclick="appendToResult('8')" class="inputbtnblack" style="position: absolute; top: 114px; left: 85px; right: 0px; bottom: 0px;">8</button>
                <button onclick="appendToResult('9')" class="inputbtnblack" style="position: absolute; top: 114px; left: 155px; right: 0px; bottom: 0px;">9</button>
                <button onclick="clearResult()" class="inputbtnc" style="position: absolute; top: 114px; left: 225px; right: 0px; bottom: 0px;">C</button>
                <button onclick="appendToResult('4')" class="inputbtnblack" style="position: absolute; top: 184px; left: 15px; right: 0px; bottom: 0px;">4</button>
                <button onclick="appendToResult('5')" class="inputbtnblack" style="position: absolute; top: 184px; left: 85px; right: 0px; bottom: 0px;">5</button>
                <button onclick="appendToResult('6')" class="inputbtnblack" style="position: absolute; top: 184px; left: 155px; right: 0px; bottom: 0px;">6</button>
                <button onclick="clearLastValue()" class="inputbtnblack" style="position: absolute; top: 184px; left: 225px; right: 0px; bottom: 0px;"><-</button>
                <button onclick="appendToResult('1')" class="inputbtnblack" style="position: absolute; top: 254px; left: 15px; right: 0px; bottom: 0px;">1</button>
                <button onclick="appendToResult('2')" class="inputbtnblack" style="position: absolute; top: 254px; left: 85px; right: 0px; bottom: 0px;">2</button>
                <button onclick="appendToResult('3')" class="inputbtnblack" style="position: absolute; top: 254px; left: 155px; right: 0px; bottom: 0px;">3</button>
                <button class="inputbtnblack closeModalPassword" style="position: absolute; top: 254px; left: 225px; right: 0px; bottom: 0px;">Esc</button>
                <button class="inputbtnblack" style="position: absolute; top: 324px; left: 15px; right: 0px; bottom: 0px;">,</button>
                <button onclick="appendToResult('0')" class="inputbtnblack" style="position: absolute; top: 324px; left: 85px; right: 0px; bottom: 0px;">0</button>
                <button onclick="checkPassword()" class="inputbtngreen" style="position: absolute; top: 324px; left: 155px; right: 0px; bottom: 0px;">Enter</button>
            </div>
        </div>
        <p style="position: absolute; top: 40px; left: 213px; right: 0px; bottom: 0px; border: none; padding: 0px; font-size: 13px; width: 110px;">Датчик давления</p>
        <img src="{{ url_for('static', filename='iconsbutton/Suction.png') }}"
            style="position: absolute; top: 60px; left: 219px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 65px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 260px;">Номинал датчика на всасывание</p>
        <img class="flickering" src="{{ url_for('static', filename='iconsbutton/Protection.png') }}"
            style="position: absolute; top: 61px; left: 612px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <div id="InputText1" class="click">
            <hr style="position: absolute; top: 59px; left: 640px; border: 2px solid white; width: 148px; height: 32px; border-radius: 6px;">
            <p id="InputText2" style="position: absolute; top: 67px; left: 648px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 10px;"></p>
            <p style="position: absolute; top: 66px; left: 756px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 30px;">Бар</p>
        </div>
        <img src="{{ url_for('static', filename='iconsbutton/Pumping.png') }}"
            style="position: absolute; top: 96px; left: 219px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 103px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 250px;">Номинал датчика на нагнетание</p>
        <img class="flickering" src="{{ url_for('static', filename='iconsbutton/Protection.png') }}"
            style="position: absolute; top: 99px; left: 612px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <div id="InputText3" class="click">
            <hr style="position: absolute; top: 98px; left: 640px; border: 2px solid white; width: 148px; height: 32px; border-radius: 6px;">
            <p id="InputText4" style="position: absolute; top: 105px; left: 648px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 10px;"></p>
            <p style="position: absolute; top: 105px; left: 756px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 30px;">Бар</p>
        </div>
        <hr style="position: absolute; top: 137px; left: 219px; right: 0px; width: 564px; height: 0px; border-top: 0px;">
        <img src="{{ url_for('static', filename='iconsbutton/Eye.png') }}"
            style="position: absolute; top: 157px; left: 217px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 157px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 270px;">Показание датчика на всасывание</p>
        <p style="position: absolute; top: 157px; left: 756px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 30px;">Бар</p>
        <img src="{{ url_for('static', filename='iconsbutton/Eye.png') }}"
            style="position: absolute; top: 187px; left: 217px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 187px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 260px;">Показание датчика на нагнетание</p>
        <p style="position: absolute; top: 187px; left: 756px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 30px;">Бар</p>
        <img src="{{ url_for('static', filename='iconsbutton/Eye.png') }}"
            style="position: absolute; top: 229px; left: 217px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 230px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 220px;">Миллиампер на всасывание </p>
        <p style="position: absolute; top: 230px; left: 756px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 30px;">mA</p>
        <img src="{{ url_for('static', filename='iconsbutton/Eye.png') }}"
            style="position: absolute; top: 263px; left: 217px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 261px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 210px;">Миллиампер на нагнетание</p>
        <p style="position: absolute; top: 261px; left: 756px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 30px;">mA</p>
    </div>
</div>
{% endblock %}