{% extends 'Base.html' %}

{% block title %}
<title>Контакты</title>
{% endblock %}

{% block styleforrightbody %}
p {
    font-family: Roboto;
    font-size: 16px;
    color: white;
    font-weight: bold;
    width: 250px;
    height: 20px;
    margin: 0px;
}
hr {
    margin: 0px;
    border-color: #616161;
}
{% endblock %}

{% block container %}
<div class="buttons">
    <img onclick="window.location.href='/'" src="{{ url_for('static', filename='iconsbutton/MainScreen.png') }}"
         style="position: absolute; top: 16px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/'" class="button200x60">Главный экран</button>

    <img onclick="window.location.href='/SetpointPlanner'" src="{{ url_for('static', filename='iconsbutton/SetpointPlanner.png') }}"
         style="position: absolute; top: 73px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/SetpointPlanner'" class="button200x60">Планировщик уставок</button>

    <img onclick="window.location.href='/OnlineTrends'" src="{{ url_for('static', filename='iconsbutton/Monitoring.png') }}"
         style="position: absolute; top: 137px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/OnlineTrends'" class="button200x60">Мониторинг</button>
    <img onclick="window.location.href='/OnlineTrends'" src="{{ url_for('static', filename='iconsbutton/Link.png') }}"
         style="position: absolute; top: 138px; left: 169px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img onclick="window.location.href='/CurrentEvent'" src="{{ url_for('static', filename='iconsbutton/Journal.png') }}"
         style="position: absolute; top: 192px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/CurrentEvent'" class="button200x60">Журнал</button>
    <img onclick="window.location.href='/CurrentEvent'" src="{{ url_for('static', filename='iconsbutton/Link.png') }}"
         style="position: absolute; top: 201px; left: 169px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img onclick="window.location.href='/EngineParameters'" src="{{ url_for('static', filename='iconsbutton/StationSettings.png') }}"
         style="position: absolute; top: 256px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/EngineParameters'" class="button200x60">Настройки станции</button>
    <img onclick="window.location.href='/EngineParameters'" src="{{ url_for('static', filename='iconsbutton/Link.png') }}"
         style="position: absolute; top: 259px; left: 169px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img onclick="window.location.href='/SettingsPID'" src="{{ url_for('static', filename='iconsbutton/EngineeringMenu.png') }}"
         style="position: absolute; top: 315px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/SettingsPID'" class="button200x60">Инженерное меню</button>
    <img onclick="window.location.href='/SettingsPID'" src="{{ url_for('static', filename='iconsbutton/Link.png') }}"
         style="position: absolute; top: 321px; left: 169px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img onclick="window.location.href='/SettingsPanel'" src="{{ url_for('static', filename='iconsbutton/PanelSettings.png') }}"
         style="position: absolute; top: 375px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/SettingsPanel'" class="button200x60">Настройки панели</button>

    <img src="{{ url_for('static', filename='iconsbutton/Contacts.png') }}"
         style="position: absolute; top: 438px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button class="button200x60">Контакты</button>
    <img src="{{ url_for('static', filename='iconsbutton/Triangle.png') }}"
         style="position: absolute; top: 432px; left: 181px; right: 0px; bottom: 0px; border: none; padding: 0px;">
</div>
{% endblock %}

{% block clock %}
    <div id="clock"></div>
{% endblock %}

{% block script %}
var pump = document.getElementById('Pumps');
var OffModelNumpad = document.getElementsByClassName("closeModalNumpad")[0];

OffModelNumpad.onclick = function() {
    ModalNumpad.style.display = "none";
    document.getElementById('numpad').innerText = '';
}

fetch('/data')
  .then(response => response.json())
  .then(data => {
    document.getElementById('Pumps').textContent = data.Pumps;
  })

pump.onclick = function() {
    if(pump.onclick){
        ModalNumpad.style.display = "block";
    }
}

function checkNumpad() {
    if (document.getElementById('numpad').innerText !== "") {
        pump.innerText = document.getElementById('numpad').innerText;
        ModalNumpad.style.display = "none";
    }
    var formData = new FormData();
    formData.append('Pumps', document.getElementById('numpad').innerText);

    fetch('/update_data', {
        method: 'POST',
        body: formData
    })
    document.getElementById('numpad').innerText = '';
}

function appendToNumpad(value) {
    var result = document.getElementById('numpad').innerText;
    if (result.length === 0 && value>=0 && value<=6) {
        document.getElementById('numpad').innerText = value;
    }
}
function clearNumpad() {
var result = document.getElementById('numpad').innerText;
    if (result !== '') {
        document.getElementById('numpad').innerText = '';
    }
}
function clearLastValueNumpad() {
    var result = document.getElementById('numpad').innerText;
    if (result !== '') {
        document.getElementById('numpad').innerText = result.slice(0, -1);
    }
}
{% endblock %}

{% block interface %}
<div class="rightbody">
    <div style="width: 600px; height: 480px;">
        <div id="ModalNumpad" class="Modal">
            <div class="ModalContent">
                <div class="passwordprint">
                    <p id="numpad" style="text-align: right; position: absolute; top: 9px; left: 12px; right: 0px; bottom: 0px; font-family: Roboto; font-size: 28px; font-weight: bold;"></p>
                </div>
                <button class="inputbtnblack" style="position: absolute; top: 114px; left: 15px; right: 0px; bottom: 0px;">7</button>
                <button class="inputbtnblack" style="position: absolute; top: 114px; left: 85px; right: 0px; bottom: 0px;">8</button>
                <button class="inputbtnblack" style="position: absolute; top: 114px; left: 155px; right: 0px; bottom: 0px;">9</button>
                <button onclick="clearNumpad()" class="inputbtnc" style="position: absolute; top: 114px; left: 225px; right: 0px; bottom: 0px;">C</button>
                <button onclick="appendToNumpad('4')" class="inputbtnblack" style="position: absolute; top: 184px; left: 15px; right: 0px; bottom: 0px;">4</button>
                <button onclick="appendToNumpad('5')" class="inputbtnblack" style="position: absolute; top: 184px; left: 85px; right: 0px; bottom: 0px;">5</button>
                <button onclick="appendToNumpad('6')" class="inputbtnblack" style="position: absolute; top: 184px; left: 155px; right: 0px; bottom: 0px;">6</button>
                <button onclick="clearLastValueNumpad()" class="inputbtnblack" style="position: absolute; top: 184px; left: 225px; right: 0px; bottom: 0px;"><-</button>
                <button onclick="appendToNumpad('1')" class="inputbtnblack" style="position: absolute; top: 254px; left: 15px; right: 0px; bottom: 0px;">1</button>
                <button onclick="appendToNumpad('2')" class="inputbtnblack" style="position: absolute; top: 254px; left: 85px; right: 0px; bottom: 0px;">2</button>
                <button onclick="appendToNumpad('3')" class="inputbtnblack" style="position: absolute; top: 254px; left: 155px; right: 0px; bottom: 0px;">3</button>
                <button class="inputbtnblack closeModalNumpad" style="position: absolute; top: 254px; left: 225px; right: 0px; bottom: 0px;">Esc</button>
                <button class="inputbtnblack" style="position: absolute; top: 324px; left: 15px; right: 0px; bottom: 0px;">,</button>
                <button onclick="appendToNumpad('0')" class="inputbtnblack" style="position: absolute; top: 324px; left: 85px; right: 0px; bottom: 0px;">0</button>
                <button onclick="checkNumpad()" class="inputbtngreen" style="position: absolute; top: 324px; left: 155px; right: 0px; bottom: 0px;">Enter</button>
            </div>
        </div>
        <img src="{{ url_for('static', filename='iconsbutton/Question.png') }}"
            style="position: absolute; top: 48px; left: 220px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 50px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 210px;">Программное обеспечение</p>
        <p style="position: absolute; top: 50px; left: 485px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 210px;">HVS_ONE_WO0.00.00.2.empt</p>
        <img src="{{ url_for('static', filename='iconsbutton/Question.png') }}"
            style="position: absolute; top: 83px; left: 220px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 86px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 150px;">Версия EasyBuilder</p>
        <p style="position: absolute; top: 86px; left: 485px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 210px;">60901</p>
        <img src="{{ url_for('static', filename='iconsbutton/SetpointPlanner.png') }}"
            style="position: absolute; top: 119px; left: 221px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 122px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 140px;">Дата компиляции</p>
        <p style="position: absolute; top: 122px; left: 485px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 210px;">23.04.2023</p>
        <hr style="position: absolute; top: 156px; left: 220px; right: 0px; width: 564px; height: 0px; border-top: 0px;">
        <img src="{{ url_for('static', filename='iconsbutton/Key.png') }}"
            style="position: absolute; top: 164px; left: 219px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 168px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 110px;">Код продукта</p>
        <p style="position: absolute; top: 168px; left: 420px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 210px;">0</p>
        <p style="position: absolute; top: 168px; left: 526px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 210px;">0</p>
        <p style="position: absolute; top: 168px; left: 632px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 210px;">0</p>
        <img src="{{ url_for('static', filename='iconsbutton/SensorSettings.png') }}"
            style="position: absolute; top: 202px; left: 218px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 207px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 160px;">Количество насосов</p>
        <p style="position: absolute; top: 207px; left: 444px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 210px;">6</p>
        <p style="position: absolute; top: 207px; left: 485px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 150px;">из них работающих</p>
        <p id="Pumps" style="position: absolute; top: 207px; left: 651px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 210px;"></p>
        <hr style="position: absolute; top: 240px; left: 220px; right: 0px; width: 564px; height: 0px; border-top: 0px;">
        <img src="{{ url_for('static', filename='iconsbutton/Mail.png') }}"
            style="position: absolute; top: 255px; left: 220px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 255px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 50px;">Почта</p>
        <p style="position: absolute; top: 255px; left: 644px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 110px;">info@mfmc.ru</p>
        <img src="{{ url_for('static', filename='iconsbutton/Web.png') }}"
            style="position: absolute; top: 288px; left: 220px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 288px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 70px;">Вэб-сайт</p>
        <p style="position: absolute; top: 288px; left: 644px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 110px;">www.mfmc.ru</p>
        <img src="{{ url_for('static', filename='iconsbutton/Telephone.png') }}"
            style="position: absolute; top: 322px; left: 221px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 324px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 190px;">Техническая поддержка</p>
        <p style="position: absolute; top: 321px; left: 644px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 150px; height: 40px;">+7 (495) 122-22-62<br>+7 (800) 333-14-61</p>
    </div>
</div>
{% endblock %}