{% extends 'Base.html' %}

{% block title %}
<title>Главный экран</title>
{% endblock %}

{% block buttons %}
.buttons {
    width: 140px;
    height: 40px;
    display: flex;
    flex-direction: column;
}
{% endblock %}

{% block button200x60 %}
.button200x60 {
    border: none;
    padding: 0px;
    width: 140px;
    height: 40px;
    background: black;
    box-shadow: inset -3px 0 0 0px #8E8E8E, inset 3px 0 0 0px #8E8E8E, inset 0 -2px 0 0px #8E8E8E, inset 0 2px 0 0px #8E8E8E;
    font-family: Roboto; /* Устанавливаем стиль шрифта */
    font-size: 20px; /* Устанавливаем размер шрифта */
    color: white;
    font-weight: bold;
}
{% endblock %}

{% block interface %}
<img class="pointereventnone" src="{{ url_for('static', filename='Main/SystemPump.png') }}" draggable="false" style="position: absolute; top: 335px; left: 0px;"/>
<img class="pointereventnone" src="{{ url_for('static', filename='Main/Info.png') }}" draggable="false" style="position: absolute; top: 330px; left: 8px;"/>
<img class="pointereventnone" src="{{ url_for('static', filename='Main/stop_icon.png') }}" draggable="false" style="position: absolute; top: 5px; left: 635px;"/>
<a href="/Main1"><img src="{{ url_for('static', filename='Main/indicator_0.png') }}" draggable="false" style="position: absolute; top: 5px; left: 150px;"/></a>
<img id="Switch" src="{{ url_for('static', filename='Main/red.png') }}" onclick="changeImage()" style="position: absolute; top: 43px; left: 743px;">
{% endblock %}

{% block page_script %}
<script>
function changeImage() {
  var image = document.getElementById('Switch');
  if (image.src.match("/static/Main/red.png")) {
    image.src = "/static/Main/blue.png";
  }
  else if (image.src.match("/static/Main/blue.png")) {
    image.src = "/static/Main/green.png";
  }
  else if (image.src.match("/static/Main/green.png")) {
    image.src = "/static/Main/pink.png";
  }
  else if (image.src.match("/static/Main/pink.png")) {
    image.src = "/static/Main/orange.png";
  }
  else if (image.src.match("/static/Main/orange.png")) {
    image.src = "/static/Main/yellow.png";
  }
  else if (image.src.match("/static/Main/yellow.png")) {
    image.src = "/static/Main/red.png";
  }
}
</script>
{% endblock %}

{% block body %}
<div>
    <button onclick="window.location.href='/SetpointPlanner'" class="button200x60">Настройки</button>
</div>

<div id="clock"></div>
{% endblock %}
