{% extends 'Base.html' %}

{% block title %}
<title>Главный экран</title>
{% endblock %}

{% block button135x37 %}
.button135x37 {
    border: none;
    padding: 0px;
    width: 135px;
    height: 37px;
    background: black;
    box-shadow: inset -3px 0 0 0px #8E8E8E, inset 3px 0 0 0px #8E8E8E, inset 0 -3px 0 0px #8E8E8E, inset 0 3px 0 0px #8E8E8E;
    font-family: Roboto; /* Устанавливаем стиль шрифта */
    font-size: 20px; /* Устанавливаем размер шрифта */
    color: white;
    font-weight: bold;
}
{% endblock %}

{% block interface %}
<img class="pointereventnone" src="{{ url_for('static', filename='Main/SystemPump.png') }}" draggable="false" style="position: absolute; top: 335px; left: 0px;"/>
<img class="pointereventnone" src="{{ url_for('static', filename='Main/Info.png') }}" draggable="false" style="position: absolute; top: 330px; left: 8px;"/>
<img class="pointereventnone" src="{{ url_for('static', filename='Main/stop_icon.png') }}" draggable="false" style="position: absolute; top: 5px; left: 635px;"/>
<a href="/Main2"><img src="{{ url_for('static', filename='Main/indicator_1.png') }}" draggable="false" style="position: absolute; top: 5px; left: 150px;"/></a>
{% endblock %}

{% block container %}
<div class="buttons">
    <button onclick="window.location.href='/SetpointPlanner'" class="button135x37">Настройки</button>
</div>
{% endblock %}

{% block clock %}
<div id="clock"></div>
{% endblock %}