{% extends 'Base.html' %}

{% block title %}
<title>Главный экран</title>
{% endblock %}

{% block button135x37 %}
.button135x37 {
    border: none;
    padding: 0px;
    width: 135px;
    height: 37px;
    background: black;
    box-shadow: inset -3px 0 0 0px #8E8E8E, inset 3px 0 0 0px #8E8E8E, inset 0 -3px 0 0px #8E8E8E, inset 0 3px 0 0px #8E8E8E;
    font-family: Roboto; /* Устанавливаем стиль шрифта */
    font-size: 20px; /* Устанавливаем размер шрифта */
    color: white;
    font-weight: bold;
}
{% endblock %}

{% block interface %}
<div class="container">
<!--    <img class="pointereventnone" src="{{ url_for('static', filename='Main/SystemPump.png') }}" draggable="false" style="position: absolute; top: 335px; left: 0px;"/>-->
<!--    <img class="pointereventnone" src="{{ url_for('static', filename='Main/Info.png') }}" draggable="false" style="position: absolute; top: 330px; left: 8px;"/>-->
    <img class="pointereventnone" src="{{ url_for('static', filename='Main/stop_icon.png') }}" draggable="false" style="position: absolute; top: 5px; left: 635px;"/>
    <a href="/Main1"><img src="{{ url_for('static', filename='Main/indicator_0.png') }}" draggable="false" style="position: absolute; top: 5px; left: 150px;"/></a>
    <img id="Switch" src="{{ url_for('static', filename='Main/red.png') }}" onclick="changeImage()" style="position: absolute; top: 43px; left: 743px;">
</div>
{% endblock %}

{% block page_script %}
fetch('/data')
    .then(response => response.json())
    .then(data => {
        countpumps = data.Pumps;
        if(countpumps === "1") {
            var img6 = new Image();
            img6.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img6.draggable = false;
            img6.style.position = 'absolute';
            img6.style.top = '335px';
            img6.style.left = '500px';
            var container = document.querySelector('.container');
            container.innerHTML += img6.outerHTML;
            var img5 = new Image();
            img5.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img5.draggable = false;
            img5.style.position = 'absolute';
            img5.style.top = '335px';
            img5.style.left = '400px';
            var container = document.querySelector('.container');
            container.innerHTML += img5.outerHTML;
            var img4 = new Image();
            img4.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img4.draggable = false;
            img4.style.position = 'absolute';
            img4.style.top = '335px';
            img4.style.left = '300px';
            var container = document.querySelector('.container');
            container.innerHTML += img4.outerHTML;
            var img3 = new Image();
            img3.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img3.draggable = false;
            img3.style.position = 'absolute';
            img3.style.top = '335px';
            img3.style.left = '200px';
            var container = document.querySelector('.container');
            container.innerHTML += img3.outerHTML;
            var img2 = new Image();
            img2.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img2.draggable = false;
            img2.style.position = 'absolute';
            img2.style.top = '335px';
            img2.style.left = '100px';
            var container = document.querySelector('.container');
            container.innerHTML += img2.outerHTML;
            var img1 = new Image();
            img1.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img1.draggable = false;
            img1.style.position = 'absolute';
            img1.style.top = '335px';
            img1.style.left = '0px';
            var container = document.querySelector('.container');
            container.innerHTML += img1.outerHTML;
        } else if(countpumps === "2") {
            var img6 = new Image();
            img6.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img6.draggable = false;
            img6.style.position = 'absolute';
            img6.style.top = '335px';
            img6.style.left = '500px';
            var container = document.querySelector('.container');
            container.innerHTML += img6.outerHTML;
            var img5 = new Image();
            img5.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img5.draggable = false;
            img5.style.position = 'absolute';
            img5.style.top = '335px';
            img5.style.left = '400px';
            var container = document.querySelector('.container');
            container.innerHTML += img5.outerHTML;
            var img4 = new Image();
            img4.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img4.draggable = false;
            img4.style.position = 'absolute';
            img4.style.top = '335px';
            img4.style.left = '300px';
            var container = document.querySelector('.container');
            container.innerHTML += img4.outerHTML;
            var img3 = new Image();
            img3.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img3.draggable = false;
            img3.style.position = 'absolute';
            img3.style.top = '335px';
            img3.style.left = '200px';
            var container = document.querySelector('.container');
            container.innerHTML += img3.outerHTML;
            var img2 = new Image();
            img2.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img2.draggable = false;
            img2.style.position = 'absolute';
            img2.style.top = '335px';
            img2.style.left = '100px';
            var container = document.querySelector('.container');
            container.innerHTML += img2.outerHTML;
            var img1 = new Image();
            img1.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img1.draggable = false;
            img1.style.position = 'absolute';
            img1.style.top = '335px';
            img1.style.left = '0px';
            var container = document.querySelector('.container');
            container.innerHTML += img1.outerHTML;
        } else if(countpumps === "3") {
            var img6 = new Image();
            img6.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img6.draggable = false;
            img6.style.position = 'absolute';
            img6.style.top = '335px';
            img6.style.left = '500px';
            var container = document.querySelector('.container');
            container.innerHTML += img6.outerHTML;
            var img5 = new Image();
            img5.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img5.draggable = false;
            img5.style.position = 'absolute';
            img5.style.top = '335px';
            img5.style.left = '400px';
            var container = document.querySelector('.container');
            container.innerHTML += img5.outerHTML;
            var img4 = new Image();
            img4.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img4.draggable = false;
            img4.style.position = 'absolute';
            img4.style.top = '335px';
            img4.style.left = '300px';
            var container = document.querySelector('.container');
            container.innerHTML += img4.outerHTML;
            var img3 = new Image();
            img3.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img3.draggable = false;
            img3.style.position = 'absolute';
            img3.style.top = '335px';
            img3.style.left = '200px';
            var container = document.querySelector('.container');
            container.innerHTML += img3.outerHTML;
            var img2 = new Image();
            img2.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img2.draggable = false;
            img2.style.position = 'absolute';
            img2.style.top = '335px';
            img2.style.left = '100px';
            var container = document.querySelector('.container');
            container.innerHTML += img2.outerHTML;
            var img1 = new Image();
            img1.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img1.draggable = false;
            img1.style.position = 'absolute';
            img1.style.top = '335px';
            img1.style.left = '0px';
            var container = document.querySelector('.container');
            container.innerHTML += img1.outerHTML;
        } else if(countpumps === "4") {
            var img6 = new Image();
            img6.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img6.draggable = false;
            img6.style.position = 'absolute';
            img6.style.top = '335px';
            img6.style.left = '500px';
            var container = document.querySelector('.container');
            container.innerHTML += img6.outerHTML;
            var img5 = new Image();
            img5.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img5.draggable = false;
            img5.style.position = 'absolute';
            img5.style.top = '335px';
            img5.style.left = '400px';
            var container = document.querySelector('.container');
            container.innerHTML += img5.outerHTML;
            var img4 = new Image();
            img4.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img4.draggable = false;
            img4.style.position = 'absolute';
            img4.style.top = '335px';
            img4.style.left = '300px';
            var container = document.querySelector('.container');
            container.innerHTML += img4.outerHTML;
            var img3 = new Image();
            img3.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img3.draggable = false;
            img3.style.position = 'absolute';
            img3.style.top = '335px';
            img3.style.left = '200px';
            var container = document.querySelector('.container');
            container.innerHTML += img3.outerHTML;
            var img2 = new Image();
            img2.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img2.draggable = false;
            img2.style.position = 'absolute';
            img2.style.top = '335px';
            img2.style.left = '100px';
            var container = document.querySelector('.container');
            container.innerHTML += img2.outerHTML;
            var img1 = new Image();
            img1.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img1.draggable = false;
            img1.style.position = 'absolute';
            img1.style.top = '335px';
            img1.style.left = '0px';
            var container = document.querySelector('.container');
            container.innerHTML += img1.outerHTML;
        } else if(countpumps === "5") {
            var img6 = new Image();
            img6.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img6.draggable = false;
            img6.style.position = 'absolute';
            img6.style.top = '335px';
            img6.style.left = '500px';
            var container = document.querySelector('.container');
            container.innerHTML += img6.outerHTML;
            var img5 = new Image();
            img5.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img5.draggable = false;
            img5.style.position = 'absolute';
            img5.style.top = '335px';
            img5.style.left = '400px';
            var container = document.querySelector('.container');
            container.innerHTML += img5.outerHTML;
            var img4 = new Image();
            img4.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img4.draggable = false;
            img4.style.position = 'absolute';
            img4.style.top = '335px';
            img4.style.left = '300px';
            var container = document.querySelector('.container');
            container.innerHTML += img4.outerHTML;
            var img3 = new Image();
            img3.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img3.draggable = false;
            img3.style.position = 'absolute';
            img3.style.top = '335px';
            img3.style.left = '200px';
            var container = document.querySelector('.container');
            container.innerHTML += img3.outerHTML;
            var img2 = new Image();
            img2.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img2.draggable = false;
            img2.style.position = 'absolute';
            img2.style.top = '335px';
            img2.style.left = '100px';
            var container = document.querySelector('.container');
            container.innerHTML += img2.outerHTML;
            var img1 = new Image();
            img1.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img1.draggable = false;
            img1.style.position = 'absolute';
            img1.style.top = '335px';
            img1.style.left = '0px';
            var container = document.querySelector('.container');
            container.innerHTML += img1.outerHTML;
        } else if(countpumps === "6") {
            var img6 = new Image();
            img6.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img6.draggable = false;
            img6.style.position = 'absolute';
            img6.style.top = '335px';
            img6.style.left = '500px';
            var container = document.querySelector('.container');
            container.innerHTML += img6.outerHTML;
            var img5 = new Image();
            img5.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img5.draggable = false;
            img5.style.position = 'absolute';
            img5.style.top = '335px';
            img5.style.left = '400px';
            var container = document.querySelector('.container');
            container.innerHTML += img5.outerHTML;
            var img4 = new Image();
            img4.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img4.draggable = false;
            img4.style.position = 'absolute';
            img4.style.top = '335px';
            img4.style.left = '300px';
            var container = document.querySelector('.container');
            container.innerHTML += img4.outerHTML;
            var img3 = new Image();
            img3.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img3.draggable = false;
            img3.style.position = 'absolute';
            img3.style.top = '335px';
            img3.style.left = '200px';
            var container = document.querySelector('.container');
            container.innerHTML += img3.outerHTML;
            var img2 = new Image();
            img2.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img2.draggable = false;
            img2.style.position = 'absolute';
            img2.style.top = '335px';
            img2.style.left = '100px';
            var container = document.querySelector('.container');
            container.innerHTML += img2.outerHTML;
            var img1 = new Image();
            img1.src = "{{ url_for('static', filename='iconsbutton/pump_on.png') }}";
            img1.draggable = false;
            img1.style.position = 'absolute';
            img1.style.top = '335px';
            img1.style.left = '0px';
            var container = document.querySelector('.container');
            container.innerHTML += img1.outerHTML;
        } else if(countpumps === "0") {
            var img6 = new Image();
            img6.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img6.draggable = false;
            img6.style.position = 'absolute';
            img6.style.top = '335px';
            img6.style.left = '500px';
            var container = document.querySelector('.container');
            container.innerHTML += img6.outerHTML;
            var img5 = new Image();
            img5.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img5.draggable = false;
            img5.style.position = 'absolute';
            img5.style.top = '335px';
            img5.style.left = '400px';
            var container = document.querySelector('.container');
            container.innerHTML += img5.outerHTML;
            var img4 = new Image();
            img4.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img4.draggable = false;
            img4.style.position = 'absolute';
            img4.style.top = '335px';
            img4.style.left = '300px';
            var container = document.querySelector('.container');
            container.innerHTML += img4.outerHTML;
            var img3 = new Image();
            img3.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img3.draggable = false;
            img3.style.position = 'absolute';
            img3.style.top = '335px';
            img3.style.left = '200px';
            var container = document.querySelector('.container');
            container.innerHTML += img3.outerHTML;
            var img2 = new Image();
            img2.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img2.draggable = false;
            img2.style.position = 'absolute';
            img2.style.top = '335px';
            img2.style.left = '100px';
            var container = document.querySelector('.container');
            container.innerHTML += img2.outerHTML;
            var img1 = new Image();
            img1.src = "{{ url_for('static', filename='iconsbutton/pump_off.png') }}";
            img1.draggable = false;
            img1.style.position = 'absolute';
            img1.style.top = '335px';
            img1.style.left = '0px';
            var container = document.querySelector('.container');
            container.innerHTML += img1.outerHTML;
        }
    })
    .catch(error => {
        <!--console.error('Ошибка при получении данных:', error);-->
    });


function changeImage() {
    var image = document.getElementById('Switch');
    if (image.src.match("/static/Main/red.png")) {
        image.src = "/static/Main/blue.png";
    }
    else if (image.src.match("/static/Main/blue.png")) {
        image.src = "/static/Main/green.png";
    }
    else if (image.src.match("/static/Main/green.png")) {
        image.src = "/static/Main/pink.png";
    }
    else if (image.src.match("/static/Main/pink.png")) {
        image.src = "/static/Main/orange.png";
    }
    else if (image.src.match("/static/Main/orange.png")) {
        image.src = "/static/Main/yellow.png";
    }
    else if (image.src.match("/static/Main/yellow.png")) {
        image.src = "/static/Main/red.png";
    }
}
{% endblock %}

{% block container %}
<div class="buttons">
    <button onclick="window.location.href='/SetpointPlanner'" class="button135x37">Настройки</button>
</div>
{% endblock %}

{% block clock %}
<div id="clock"></div>
{% endblock %}