{% extends 'Base.html' %}

{% block title %}
<title>Главный экран</title>
{% endblock %}

{% block a %}
a {
    width: 140px;
    height: 40px;
}
{% endblock %}

{% block htmlstyle %}
html {
    height: 480px;
}
{% endblock %}

{% block bodystyle %}
body {
    height: 480px;
}
{% endblock %}

{% block buttons %}
.buttons {
    width: 140px;
    height: 40px;
    display: flex;
    flex-direction: column;
}
{% endblock %}

{% block body %}
<a href="/SetpointPlanner"><img src="{{ url_for('static', filename='Main/Settings.png') }}"/></a>

<div id="clock"></div>
{% endblock %}
