{% extends 'Base.html' %}

{% block title %}
<title>Главный экран</title>
{% endblock %}

{% block a %}
a {
    width: 140px;
    height: 40px;
}
{% endblock %}

{% block htmlstyle %}
html {
    height: 480px;
}
{% endblock %}

{% block bodystyle %}
body {
    height: 480px;
}
{% endblock %}

{% block buttons %}
.buttons {
    width: 140px;
    height: 40px;
    display: flex;
    flex-direction: column;
}
{% endblock %}

{% block interface %}
<img class="pointereventnone" src="{{ url_for('static', filename='Main/SystemPump.png') }}" draggable="false" style="position: absolute; top: 335px; left: 0px;"/>
<img class="pointereventnone" src="{{ url_for('static', filename='Main/Info.png') }}" draggable="false" style="position: absolute; top: 330px; left: 8px;"/>
<img class="pointereventnone" src="{{ url_for('static', filename='Main/stop_icon.png') }}" draggable="false" style="position: absolute; top: 5px; left: 635px;"/>
<a href="/"><img src="{{ url_for('static', filename='Main/indicator_2.png') }}" draggable="false" style="position: absolute; top: 5px; left: 150px;"/></a>
{% endblock %}

{% block body %}
<a href="/SetpointPlanner"><img src="{{ url_for('static', filename='Main/Settings.png') }}"/></a>

<div id="clock"></div>
{% endblock %}
