{% extends 'Base.html' %}

{% block title %}
<title>Мониторинг</title>
{% endblock %}

{% block a %}
a {
    width: 200px;
    height: 60px;
}
{% endblock %}

{% block htmlstyle %}
html {
    height: 480px;
}
{% endblock %}

{% block bodystyle %}
body {
    height: 480px;
}
{% endblock %}

{% block buttons %}
.buttons {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
{% endblock %}

{% block body %}
<a href="/"><img src="{{ url_for('static', filename='Monitoring/MainScreen.png') }}"/></a>
<a href="/SetpointPlanner"><img src="{{ url_for('static', filename='Monitoring/Back.png') }}"/></a>
<a href="/OnlineTrends"><img src="{{ url_for('static', filename='Monitoring/TrendsOnline.png') }}"/></a>
<a href="/HistoryTrends"><img src="{{ url_for('static', filename='Monitoring/TrendingStories.png') }}"/></a>
<a href="/PumpOperatingTime"><img src="{{ url_for('static', filename='Monitoring/OperatingTimeOfPumps.png') }}"/></a>

<div id="clock"></div>
{% endblock %}