{% extends 'Base.html' %}

{% block title %}
<title>Планировщик уставок</title>
{% endblock %}

{% block a %}
a {
    width: 200px;
    height: 60px;
}
{% endblock %}

{% block bodystyle %}
body {
    height: 480px;
}
{% endblock %}

{% block htmlstyle %}
html {
    height: 480px;
}
{% endblock %}

{% block buttons %}
.buttons {
    width: 200px;
    height: 480px;
    display: flex;
    flex-direction: column;
}
{% endblock %}

{% block interface %}
<img src="{{ url_for('static', filename='SetpointPlanner/interface.png') }}" style="position: absolute; top: 15px; left: 200px;"/>
{% endblock %}

{% block body %}
<a href="/"><img src="{{ url_for('static', filename='Menu/MainScreen.png') }}"/></a>
<a><img src="{{ url_for('static', filename='Menu/SetpointPlannerOpen.png') }}"/></a>
<a href="/OnlineTrends"><img src="{{ url_for('static', filename='Menu/Monitoring.png') }}"/></a>
<a href="/CurrentEvent"><img src="{{ url_for('static', filename='Menu/Journal.png') }}"/></a>
<a href="/EngineParameters"><img src="{{ url_for('static', filename='Menu/OptionsStation.png') }}"/></a>
<a href="/SettingsPID"><img src="{{ url_for('static', filename='Menu/EngineeringMenu.png') }}"/></a>
<a href="/SettingsPanel"><img src="{{ url_for('static', filename='Menu/PanelSettings.png') }}"/></a>
<a href="/Contacts"><img src="{{ url_for('static', filename='Menu/Contacts.png') }}"/></a>

<div id="clock"></div>
{% endblock %}