{% extends 'Base.html' %}

{% block title %}
<title>Настройки панели</title>
{% endblock %}

{% block styleforrightbody %}
p {
    font-family: Roboto;
    font-size: 16px;
    color: white;
    font-weight: bold;
    width: 250px;
    height: 20px;
    margin: 0px;
}
hr {
    margin: 0px;
    border-color: #616161;
}
{% endblock %}

{% block container %}
<div class="buttons">
    <img onclick="window.location.href='/'" src="{{ url_for('static', filename='iconsbutton/MainScreen.png') }}"
         style="position: absolute; top: 16px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/'" class="button200x60">Главный экран</button>

    <img onclick="window.location.href='/SetpointPlanner'" src="{{ url_for('static', filename='iconsbutton/SetpointPlanner.png') }}"
         style="position: absolute; top: 73px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/SetpointPlanner'" class="button200x60">Планировщик уставок</button>

    <img onclick="window.location.href='/OnlineTrends'" src="{{ url_for('static', filename='iconsbutton/Monitoring.png') }}"
         style="position: absolute; top: 137px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/OnlineTrends'" class="button200x60">Мониторинг</button>
    <img onclick="window.location.href='/OnlineTrends'" src="{{ url_for('static', filename='iconsbutton/Link.png') }}"
         style="position: absolute; top: 138px; left: 169px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img onclick="window.location.href='/CurrentEvent'" src="{{ url_for('static', filename='iconsbutton/Journal.png') }}"
         style="position: absolute; top: 192px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/CurrentEvent'" class="button200x60">Журнал</button>
    <img onclick="window.location.href='/CurrentEvent'" src="{{ url_for('static', filename='iconsbutton/Link.png') }}"
         style="position: absolute; top: 201px; left: 169px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img onclick="window.location.href='/EngineParameters'" src="{{ url_for('static', filename='iconsbutton/StationSettings.png') }}"
         style="position: absolute; top: 256px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/EngineParameters'" class="button200x60">Настройки станции</button>
    <img onclick="window.location.href='/EngineParameters'" src="{{ url_for('static', filename='iconsbutton/Link.png') }}"
         style="position: absolute; top: 259px; left: 169px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img onclick="window.location.href='/SettingsPID'" src="{{ url_for('static', filename='iconsbutton/EngineeringMenu.png') }}"
         style="position: absolute; top: 315px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/SettingsPID'" class="button200x60">Инженерное меню</button>
    <img onclick="window.location.href='/SettingsPID'" src="{{ url_for('static', filename='iconsbutton/Link.png') }}"
         style="position: absolute; top: 321px; left: 169px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img src="{{ url_for('static', filename='iconsbutton/PanelSettings.png') }}"
         style="position: absolute; top: 375px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button class="button200x60">Настройки панели</button>
    <img src="{{ url_for('static', filename='iconsbutton/Triangle.png') }}"
             style="position: absolute; top: 372px; left: 181px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img onclick="window.location.href='/Contacts'" src="{{ url_for('static', filename='iconsbutton/Contacts.png') }}"
         style="position: absolute; top: 438px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/Contacts'" class="button200x60">Контакты</button>
</div>
{% endblock %}

{% block clock %}
<div id="clock"></div>
{% endblock %}

{% block script %}

var collectednumber = '';
var collectednumbernumpad = '';


function appendToResult(value) {
    var result = document.getElementById('passwordresult').innerText;
    if (result.length < 8) {
        collectednumber += value;
        document.getElementById('passwordresult').innerText += '*';
    }
}
function clearResult() {
var result = document.getElementById('passwordresult').innerText;
    if (result !== '') {
        collectednumber = '';
        document.getElementById('passwordresult').innerText = '';
    }
}
function clearLastValue() {
    var result = document.getElementById('passwordresult').innerText;
    if (result !== '') {
        collectednumber = collectednumber.slice(0, -1);
        document.getElementById('passwordresult').innerText = result.slice(0, -1);
    }
}

var ModalPassword = document.getElementById('ModalPassword');
var OffModelPassword = document.getElementsByClassName("closeModalPassword")[0];
var OffModelNumpad = document.getElementsByClassName("closeModalNumpad")[0];
var input1 = document.getElementById('InputText1');
var input2 = document.getElementById('InputText2');
var input3 = document.getElementById('InputText3');
var input4 = document.getElementById('InputText4');
var input2check = false;
var input4check = false;
var Switch = document.getElementById('Switch');
var currectpassword = false;

OffModelPassword.onclick = function() {
    ModalPassword.style.display = "none";
    document.getElementById('passwordresult').innerText = '';
    collectednumber = '';
}

OffModelNumpad.onclick = function() {
    ModalNumpad.style.display = "none";
    document.getElementById('numpad').innerText = '';
    collectednumbernumpad = '';
    input2check = false;
    input4check = false;
}

function appendToNumpad(value) {
    var result = document.getElementById('numpad').innerText;
    if(result.length===0 && value>=0 && value<=9) {
        collectednumbernumpad += value;
        document.getElementById('numpad').innerText += value;
    } else if (result.length===0 && value>=1 && value<=9) {
        collectednumbernumpad += value;
        document.getElementById('numpad').innerText += value;
    } else if (result.length===1 && result[0]==="1") {
        collectednumbernumpad += value;
        document.getElementById('numpad').innerText += value;
    } else if (result.length===1 && result[0]==="2") {
        collectednumbernumpad += value;
        document.getElementById('numpad').innerText += value;
    } else if (result.length===1 && result[0]==="3" &&  value==="0") {
        collectednumbernumpad += value;
        document.getElementById('numpad').innerText += value;
    }
}
function clearNumpad() {
var result = document.getElementById('numpad').innerText;
    if (result !== '') {
        collectednumbernumpad = '';
        document.getElementById('numpad').innerText = '';
    }
}
function clearLastValueNumpad() {
    var result = document.getElementById('numpad').innerText;
    if (result !== '') {
        collectednumbernumpad = collectednumber.slice(0, -1);
        document.getElementById('numpad').innerText = result.slice(0, -1);
    }
}

fetch('/data')
  .then(response => response.json())
  .then(data => {
    document.getElementById('InputText2').textContent = data.Time_screensaver_settings_panel;
  })

fetch('/data')
  .then(response => response.json())
  .then(data => {
    document.getElementById('InputText4').textContent = data.Time_display_settings_panel;
  })

fetch('/data')
  .then(response => response.json())
  .then(data => {
    if (data.Switch_settings_panel==="0") {
        Switch.src = "{{ url_for('static', filename='iconsbutton/SwitchOff.png') }}";
    } else {
        Switch.src = "{{ url_for('static', filename='iconsbutton/SwitchOn.png') }}";
    }
  })

input1.onclick = function() {
    if (currectpassword === true) {
        if(input1.onclick) {
            ModalNumpad.style.display = "block";
            document.getElementById('min').innerText = '0';
            document.getElementById('max').innerText = '30';
            input2check = true;
        }
    } else {
        ModalPassword.style.display = "block";
    }
}

input3.onclick = function() {
    if (currectpassword === true) {
        if(input3.onclick) {
            ModalNumpad.style.display = "block";
            document.getElementById('min').innerText = '0';
            document.getElementById('max').innerText = '30';
            input4check = true;
        }
    } else {
        ModalPassword.style.display = "block";
    }
}

Switch.onclick = function() {
    if (currectpassword === true) {
        if(Switch.onclick) {
            if (Switch.src.match("{{ url_for('static', filename='iconsbutton/SwitchOff.png') }}")) {
                Switch.src = "{{ url_for('static', filename='iconsbutton/SwitchOn.png') }}";
                var formData = new FormData();
                formData.append('Switch_settings_panel', "1");

                fetch('/update_data', {
                    method: 'POST',
                    body: formData
                })
            } else {
                Switch.src = "{{ url_for('static', filename='iconsbutton/SwitchOff.png') }}";
                var formData = new FormData();
                formData.append('Switch_settings_panel', "0");

                fetch('/update_data', {
                    method: 'POST',
                    body: formData
                })
            }
        }
    } else {
        ModalPassword.style.display = "block";
    }
}
function checkNumpad() {
    if (input2check === true) {
        input2.innerText = collectednumbernumpad;
        ModalNumpad.style.display = "none";
        collectednumbernumpad = '';
        document.getElementById('numpad').innerText = '';
        input2check = false;
        var formData = new FormData();
        formData.append('Time_screensaver_settings_panel', input2.innerText);
        fetch('/update_data', {
            method: 'POST',
            body: formData
        })
    } else if (input4check === true) {
        input4.innerText = collectednumbernumpad;
        ModalNumpad.style.display = "none";
        collectednumbernumpad = '';
        document.getElementById('numpad').innerText = '';
        input4check = false;
        var formData = new FormData();
        formData.append('Time_display_settings_panel', input4.innerText);
        fetch('/update_data', {
            method: 'POST',
            body: formData
        })
    }
}
var resultpassword = '7531';
function checkPassword() {
    if (collectednumber === resultpassword) {
        console.log('Пароль верный!');
        var result = document.getElementById('passwordresult').innerText;
        ModalPassword.style.display = "none";
        document.getElementById('passwordresult').innerText = '';
        collectednumber = '';
        hideFlickeringElements()
    } else {
        console.log('Неправильный пароль!');
    }
}
function delay(t) {
    return new Promise(res => {
        timerId = setTimeout(res, t);
    });
}
async function hideFlickeringElements() {
    var flickeringElements = document.querySelectorAll('.flickering');
    await delay(300);
    flickeringElements.forEach(function(element) {
        element.style.display = 'none';
        currectpassword = true;
    });
    await delay(25000);
    flickeringElements.forEach(function(element) {
        element.style.display = '';
        currectpassword = false;
    });
    ModalNumpad.style.display = "none";
    document.getElementById('numpad').innerText = '';
    collectednumbernumpad = '';
    input2check = false;
    input4check = false;
}
{% endblock %}

{% block interface %}
<div class="rightbody">
    <div style="width: 600px; height: 480px;">
        <div id="ModalNumpad" class="Modal">
            <div class="ModalContent">
                <p style="position: absolute; top: 17px; left: 14px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 240px; font-size: 18px;">MIN:</p>
                <p id="min" style="position: absolute; top: 17px; left: 56px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 240px; font-size: 18px;"></p>
                <p style="position: absolute; top: 17px; left: 216px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 240px; font-size: 18px;">MAX:</p>
                <p id="max" style="position: absolute; top: 17px; left: 264px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 240px; font-size: 18px;"></p>
                <div class="passwordprint">
                    <p id="numpad" dir="rtl" style="position: absolute; top: 9px; left: 12px; right: 0px; bottom: 0px; font-family: Roboto; font-size: 28px; font-weight: bold;"></p>
                </div>
                <button onclick="appendToNumpad('7')" class="inputbtnblack" style="position: absolute; top: 114px; left: 15px; right: 0px; bottom: 0px;">7</button>
                <button onclick="appendToNumpad('8')" class="inputbtnblack" style="position: absolute; top: 114px; left: 85px; right: 0px; bottom: 0px;">8</button>
                <button onclick="appendToNumpad('9')" class="inputbtnblack" style="position: absolute; top: 114px; left: 155px; right: 0px; bottom: 0px;">9</button>
                <button onclick="clearNumpad()" class="inputbtnc" style="position: absolute; top: 114px; left: 225px; right: 0px; bottom: 0px;">C</button>
                <button onclick="appendToNumpad('4')" class="inputbtnblack" style="position: absolute; top: 184px; left: 15px; right: 0px; bottom: 0px;">4</button>
                <button onclick="appendToNumpad('5')" class="inputbtnblack" style="position: absolute; top: 184px; left: 85px; right: 0px; bottom: 0px;">5</button>
                <button onclick="appendToNumpad('6')" class="inputbtnblack" style="position: absolute; top: 184px; left: 155px; right: 0px; bottom: 0px;">6</button>
                <button onclick="clearLastValueNumpad()" class="inputbtnblack" style="position: absolute; top: 184px; left: 225px; right: 0px; bottom: 0px;"><-</button>
                <button onclick="appendToNumpad('1')" class="inputbtnblack" style="position: absolute; top: 254px; left: 15px; right: 0px; bottom: 0px;">1</button>
                <button onclick="appendToNumpad('2')" class="inputbtnblack" style="position: absolute; top: 254px; left: 85px; right: 0px; bottom: 0px;">2</button>
                <button onclick="appendToNumpad('3')" class="inputbtnblack" style="position: absolute; top: 254px; left: 155px; right: 0px; bottom: 0px;">3</button>
                <button class="inputbtnblack closeModalNumpad" style="position: absolute; top: 254px; left: 225px; right: 0px; bottom: 0px;">Esc</button>
                <button class="inputbtnblack" style="position: absolute; top: 324px; left: 15px; right: 0px; bottom: 0px;">,</button>
                <button onclick="appendToNumpad('0')" class="inputbtnblack" style="position: absolute; top: 324px; left: 85px; right: 0px; bottom: 0px;">0</button>
                <button onclick="checkNumpad()" class="inputbtngreen" style="position: absolute; top: 324px; left: 155px; right: 0px; bottom: 0px;">Enter</button>
            </div>
        </div>
        <div id="ModalPassword" class="Modal">
            <div class="ModalContent">
                <div class="backgroundblack">
                    <p class="passswordp">Введите пароль</p>
                </div>
                <div class="passwordprint">
                    <p id="passwordresult" dir="rtl" style="position: absolute; top: 9px; left: 12px; right: 0px; bottom: 0px; font-family: Roboto; font-size: 28px; font-weight: bold;"></p>
                </div>
                <button onclick="appendToResult('7')" class="inputbtnblack" style="position: absolute; top: 114px; left: 15px; right: 0px; bottom: 0px;">7</button>
                <button onclick="appendToResult('8')" class="inputbtnblack" style="position: absolute; top: 114px; left: 85px; right: 0px; bottom: 0px;">8</button>
                <button onclick="appendToResult('9')" class="inputbtnblack" style="position: absolute; top: 114px; left: 155px; right: 0px; bottom: 0px;">9</button>
                <button onclick="clearResult()" class="inputbtnc" style="position: absolute; top: 114px; left: 225px; right: 0px; bottom: 0px;">C</button>
                <button onclick="appendToResult('4')" class="inputbtnblack" style="position: absolute; top: 184px; left: 15px; right: 0px; bottom: 0px;">4</button>
                <button onclick="appendToResult('5')" class="inputbtnblack" style="position: absolute; top: 184px; left: 85px; right: 0px; bottom: 0px;">5</button>
                <button onclick="appendToResult('6')" class="inputbtnblack" style="position: absolute; top: 184px; left: 155px; right: 0px; bottom: 0px;">6</button>
                <button onclick="clearLastValue()" class="inputbtnblack" style="position: absolute; top: 184px; left: 225px; right: 0px; bottom: 0px;"><-</button>
                <button onclick="appendToResult('1')" class="inputbtnblack" style="position: absolute; top: 254px; left: 15px; right: 0px; bottom: 0px;">1</button>
                <button onclick="appendToResult('2')" class="inputbtnblack" style="position: absolute; top: 254px; left: 85px; right: 0px; bottom: 0px;">2</button>
                <button onclick="appendToResult('3')" class="inputbtnblack" style="position: absolute; top: 254px; left: 155px; right: 0px; bottom: 0px;">3</button>
                <button class="inputbtnblack closeModalPassword" style="position: absolute; top: 254px; left: 225px; right: 0px; bottom: 0px;">Esc</button>
                <button class="inputbtnblack" style="position: absolute; top: 324px; left: 15px; right: 0px; bottom: 0px;">,</button>
                <button onclick="appendToResult('0')" class="inputbtnblack" style="position: absolute; top: 324px; left: 85px; right: 0px; bottom: 0px;">0</button>
                <button onclick="checkPassword()" class="inputbtngreen" style="position: absolute; top: 324px; left: 155px; right: 0px; bottom: 0px;">Enter</button>
            </div>
        </div>
        <img src="{{ url_for('static', filename='iconsbutton/Sun.png') }}"
            style="position: absolute; top: 55px; left: 218px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 59px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 240px;">Время до отключения дисплея</p>
        <img class="flickering" src="{{ url_for('static', filename='iconsbutton/Protection.png') }}"
            style="position: absolute; top: 56px; left: 612px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <div id="InputText1" class="click">
            <hr style="position: absolute; top: 53px; left: 640px; border: 2px solid white; width: 148px; height: 32px; border-radius: 6px;">
            <p id="InputText2" style="position: absolute; top: 61px; left: 654px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 30px;"></p>
            <p style="position: absolute; top: 59px; left: 738px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 50px;">минут</p>
        </div>
        <img src="{{ url_for('static', filename='iconsbutton/MainScreen.png') }}"
            style="position: absolute; top: 97px; left: 219px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 99px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 250px;">Время до отключения заставки</p>
        <img class="flickering" src="{{ url_for('static', filename='iconsbutton/Protection.png') }}"
            style="position: absolute; top: 95px; left: 612px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <div id="InputText3" class="click">
            <hr style="position: absolute; top: 93px; left: 640px; border: 2px solid white; width: 148px; height: 32px; border-radius: 6px;">
            <p id="InputText4" style="position: absolute; top: 101px; left: 654px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 30px;"></p>
            <p style="position: absolute; top: 99px; left: 738px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 50px;">минут</p>
        </div>
        <img src="{{ url_for('static', filename='iconsbutton/Music.png') }}"
            style="position: absolute; top: 130px; left: 218px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 136px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 60px;">Зуммер</p>
        <img class="flickering" src="{{ url_for('static', filename='iconsbutton/Protection.png') }}"
            style="position: absolute; top: 133px; left: 612px; right: 0px; bottom: 0px; border: none; padding: 0px;">
<!--        src="{{ url_for('static', filename='iconsbutton/SwitchOff.png') }}"-->
        <img id="Switch" style="position: absolute; top: 131px; left: 642px; right: 0px; bottom: 0px; border: none; padding: 0px; cursor: pointer;">
        <hr style="position: absolute; top: 178px; left: 214px; right: 0px; width: 574px; height: 0px; border-top: 0px;">
        <img src="{{ url_for('static', filename='iconsbutton/SetpointPlanner.png') }}"
            style="position: absolute; top: 189px; left: 221px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 193px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 40px;">Дата</p>
        <img class="flickering" src="{{ url_for('static', filename='iconsbutton/Protection.png') }}"
            style="position: absolute; top: 188px; left: 450px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <hr style="position: absolute; top: 187px; left: 478px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <p style="position: absolute; top: 194px; left: 536px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 40px;">День</p>
        <p  id="currentDay" style="position: absolute; top: 194px; left: 498px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 10px;"></p>
        <hr style="position: absolute; top: 187px; left: 583px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <p style="position: absolute; top: 194px; left: 629px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 50px;">Месяц</p>
        <p  id="currentMonth" style="position: absolute; top: 194px; left: 596px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 10px;"></p>
        <hr style="position: absolute; top: 187px; left: 687px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <p style="position: absolute; top: 194px; left: 752px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 30px;">Год</p>
        <p  id="currentYear" style="position: absolute; top: 194px; left: 699px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 10px;"></p>
        <img src="{{ url_for('static', filename='iconsbutton/Time.png') }}"
            style="position: absolute; top: 222px; left: 218px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 227px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 50px;">Время</p>
        <img class="flickering" src="{{ url_for('static', filename='iconsbutton/Protection.png') }}"
            style="position: absolute; top: 229px; left: 450px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <hr style="position: absolute; top: 226px; left: 478px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <p style="position: absolute; top: 232px; left: 506px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 50px;">Секунды</p>
        <p  id="currentSecond" style="position: absolute; top: 232px; left: 484px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 10px;"></p>
        <hr style="position: absolute; top: 226px; left: 583px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <p style="position: absolute; top: 232px; left: 617px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 70px;">Минуты</p>
        <p  id="currentMinute" style="position: absolute; top: 232px; left: 590px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 10px;"></p>
        <hr style="position: absolute; top: 226px; left: 687px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <p style="position: absolute; top: 232px; left: 739px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 70px;">Часы</p>
        <p id="currentHour" style="position: absolute; top: 232px; left: 702px; right: 0px; bottom: 0px; border: none; padding: 0px; width: 10px;"></p>
        <hr style="position: absolute; top: 266px; left: 214px; right: 0px; width: 574px; height: 0px; border-top: 0px;">
        <p style="position: absolute; top: 269px; left: 216px; right: 0px; bottom: 0px; border: none; padding: 0px; font-size: 14px; width: 60px;">Ethernet</p>
        <img src="{{ url_for('static', filename='iconsbutton/IP.png') }}"
            style="position: absolute; top: 288px; left: 218px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 294px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; font-size: 14px; width: 70px;">IP Адрес</p>
        <img class="flickering" src="{{ url_for('static', filename='iconsbutton/Protection.png') }}"
            style="position: absolute; top: 289px; left: 351px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <hr style="position: absolute; top: 286px; left: 379px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <hr style="position: absolute; top: 286px; left: 482px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <hr style="position: absolute; top: 286px; left: 585px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <hr style="position: absolute; top: 286px; left: 687px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <img src="{{ url_for('static', filename='iconsbutton/Mask.png') }}"
            style="position: absolute; top: 327px; left: 218px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 333px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; font-size: 14px; width: 50px;">Маска</p>
        <img class="flickering" src="{{ url_for('static', filename='iconsbutton/Protection.png') }}"
            style="position: absolute; top: 329px; left: 351px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <hr style="position: absolute; top: 326px; left: 379px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <hr style="position: absolute; top: 326px; left: 482px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <hr style="position: absolute; top: 326px; left: 585px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <hr style="position: absolute; top: 326px; left: 687px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <img src="{{ url_for('static', filename='iconsbutton/WWW.png') }}"
            style="position: absolute; top: 366px; left: 218px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <p style="position: absolute; top: 372px; left: 259px; right: 0px; bottom: 0px; border: none; padding: 0px; font-size: 14px; width: 50px;">Шлюз</p>
        <img class="flickering" src="{{ url_for('static', filename='iconsbutton/Protection.png') }}"
            style="position: absolute; top: 367px; left: 351px; right: 0px; bottom: 0px; border: none; padding: 0px;">
        <hr style="position: absolute; top: 366px; left: 379px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <hr style="position: absolute; top: 366px; left: 482px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <hr style="position: absolute; top: 366px; left: 585px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
        <hr style="position: absolute; top: 366px; left: 687px; border: 2px solid white; width: 98px; height: 32px; border-radius: 6px;">
    </div>
</div>
{% endblock %}

{% block currentdate %}
function getCurrentDateTime() {
    const currentDateTime = new Date();
    const hours = currentDateTime.getHours();
    const minutes = currentDateTime.getMinutes();
    const seconds = currentDateTime.getSeconds();
    const day = currentDateTime.getDate();
    const month = currentDateTime.getMonth() + 1;
    const year = currentDateTime.getFullYear();
    document.getElementById('currentHour').innerHTML = hours;
    document.getElementById('currentMinute').innerHTML = minutes;
    document.getElementById('currentSecond').innerHTML = seconds;
    document.getElementById('currentDay').innerHTML = day;
    document.getElementById('currentMonth').innerHTML = month;
    document.getElementById('currentYear').innerHTML = year;
}
getCurrentDateTime();
setInterval(getCurrentDateTime, 50);
{% endblock %}