{% extends 'Base.html' %}

{% block title %}
<title>Тренды истории</title>
{% endblock %}

{% block buttons %}
.buttons {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
{% endblock %}

{% block button200x60 %}
.button200x60 {
    border: none;
    padding: 0px;
    width: 200px;
    height: 60px;
    background: black;
    box-shadow: inset -3px 0 0 0px #8E8E8E, inset 3px 0 0 0px #8E8E8E, inset 0 -2px 0 0px #8E8E8E, inset 0 2px 0 0px #8E8E8E;
    font-family: Roboto;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 47px;
}
{% endblock %}

{% block body %}
<div>
    <img onclick="window.location.href='/'" src="{{ url_for('static', filename='iconsbutton/MainScreen.png') }}"
         style="position: absolute; top: 16px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/'" class="button200x60">Главный экран</button>

    <img onclick="window.location.href='/OnlineTrends'" src="{{ url_for('static', filename='iconsbutton/Back.png') }}"
         style="position: absolute; top: 80px; left: 13px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/OnlineTrends'" class="button200x60">Назад</button>
</div>

<!--<a href="/"><img src="{{ url_for('static', filename='Monitoring/MainScreen.png') }}"/></a>-->
<!--<a href="/SetpointPlanner"><img src="{{ url_for('static', filename='Monitoring/Back.png') }}"/></a>-->
<!--<a href="/OnlineTrends"><img src="{{ url_for('static', filename='Monitoring/TrendsOnline.png') }}"/></a>-->
<!--<a><img src="{{ url_for('static', filename='Monitoring/TrendingStories.png') }}"/></a>-->
<!--<a href="/PumpOperatingTime"><img src="{{ url_for('static', filename='Monitoring/OperatingTimeOfPumps.png') }}"/></a>-->

<div id="clock"></div>
{% endblock %}