{% extends 'Base.html' %}

{% block title %}
<title>Настройки</title>
{% endblock %}

{% block button %}
button {
    width: 245px;
    height: 73.5px;
}
{% endblock %}

{% block body %}
<button onclick="window.location.href='/'">Главный экран</button>
<button>Планировщик уставок</button>
<button onclick="window.location.href='/Monitoring'">Мониторинг</button>
<button onclick="window.location.href='/Journal'">Журнал</button>
<button onclick="window.location.href='/OptionsStation'">Настройки станции</button>
<button onclick="window.location.href='/EngineeringMenu'">Инженерное меню</button>
<button>Настройки панели</button>
<button>Контакты</button>
<div id="clock"></div>
{% endblock %}