{% extends 'Base.html' %}

{% block title %}
<title>Мониторинг</title>
{% endblock %}

{% block a %}
a {
    width: 200px;
    height: 60px;
}
{% endblock %}

{% block buttons %}
.buttons {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
{% endblock %}

{% block body %}
<a href="/"><img src="{{ url_for('static', filename='Monitoring/MainScreen.png') }}"/></a>
<a href="/Menu"><img src="{{ url_for('static', filename='Monitoring/Back.png') }}"/></a>
<a href="#"><img src="{{ url_for('static', filename='Monitoring/NowEvents.png') }}"/></a>
<a href="#"><img src="{{ url_for('static', filename='Monitoring/JournalHistory.png') }}"/></a>
<a href="#"><img src="{{ url_for('static', filename='Monitoring/JournalEdits.png') }}"/></a>

<div id="clock"></div>
{% endblock %}