{% extends 'Base.html' %}

{% block title %}
<title>Настройки станции</title>
{% endblock %}

{% block a %}
.otherbutton {
    width: 200px;
    height: 53px;
}
{% endblock %}

{% block mainscreen %}
.mainscreen {
    width: 200px;
    height: 60px;
}
{% endblock %}

{% block htmlstyle %}
html {
    height: 484px;
}
{% endblock %}

{% block bodystyle %}
body {
    height: 484px;
}
{% endblock %}

{% block buttons %}
.buttons {
    width: 200px;
    height: 484px;
    display: flex;
    flex-direction: column;
}
{% endblock %}

{% block body %}
<a href="/" class="mainscreen"><img src="{{ url_for('static', filename='OptionsStation/MainScreen.png') }}"/></a>
<a href="/Menu" class="otherbutton"><img src="{{ url_for('static', filename='OptionsStation/Back.png') }}"/></a>
<a href="#" class="otherbutton"><img src="{{ url_for('static', filename='OptionsStation/EngineParameters.png') }}"/></a>
<a href="#" class="otherbutton"><img src="{{ url_for('static', filename='OptionsStation/SensorSettings.png') }}"/></a>
<a href="#" class="otherbutton"><img src="{{ url_for('static', filename='OptionsStation/PumpParametersInGeneral.png') }}"/></a>
<a href="#" class="otherbutton"><img src="{{ url_for('static', filename='OptionsStation/OnAdditionalPumps.png') }}"/></a>
<a href="#" class="otherbutton"><img src="{{ url_for('static', filename='OptionsStation/OffOfAdditionalPumps.png') }}"/></a>
<a href="#" class="otherbutton"><img src="{{ url_for('static', filename='OptionsStation/Options.png') }}"/></a>
<a href="#" class="otherbutton"><img src="{{ url_for('static', filename='OptionsStation/EmergencyModes.png') }}"/></a>

<div id="clock"></div>
{% endblock %}