{% extends 'Base.html' %}

{% block title %}
<title>Журнал изменений</title>
{% endblock %}

{% block clockhide %}
#clock {
  display: none;
}
{% endblock %}

{% block styleforrightbody %}
table {
    border-collapse: collapse;
    width: 583px;
    top: 0px;
    left: 200px;
}

.contents {
    float: left;
    max-height: 480px;
    width: 200px;
    height: 480px;
    overflow: auto;
    overflow: hidden;
}

.content {
    max-height: 480px;
    height: 480px;
    width: 600px;
    overflow: auto;
}
tr {
    border: 1px solid #8E8E8E;
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    color: white;
}

th {
    border: 1px solid #8E8E8E;
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    color: white;
}

td {
    border: 1px solid #8E8E8E;
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    color: white;
}

table {
  table-layout: fixed; /* Фиксированная ширина столбцов */
}

td {
  white-space: nowrap; /* Текст не переносится на другую строку */
  text-overflow: ellipsis; /* Показывается многоточие, если текст обрезается */
  overflow: hidden; /* Скрыть часть текста, которая не помещается */
}
{% endblock %}

{% block container %}
<div class="buttons">
    <img onclick="window.location.href='/'" src="{{ url_for('static', filename='iconsbutton/MainScreen.png') }}"
         style="position: absolute; top: 16px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/'" class="button200x60">Главный экран</button>

    <img onclick="window.location.href='/SetpointPlanner'" src="{{ url_for('static', filename='iconsbutton/Back.png') }}"
         style="position: absolute; top: 80px; left: 13px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/SetpointPlanner'" class="button200x60">Назад</button>

    <img onclick="window.location.href='/CurrentEvent'" src="{{ url_for('static', filename='iconsbutton/Monitoring.png') }}"
          style="position: absolute; top: 137px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/CurrentEvent'" class="button200x60">Текущие события</button>

    <img onclick="window.location.href='/JournalHistory'" src="{{ url_for('static', filename='iconsbutton/Monitoring.png') }}"
         style="position: absolute; top: 198px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/JournalHistory'" class="button200x60">Журнал историй</button>
    <img onclick="window.location.href='/JournalHistory'" src="{{ url_for('static', filename='iconsbutton/Link.png') }}"
         style="position: absolute; top: 201px; left: 169px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img src="{{ url_for('static', filename='iconsbutton/PumpOperatingTime.png') }}"
         style="position: absolute; top: 257px; left: 13px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button class="button200x60">Журнал изменений</button>
    <img onclick="window.location.href='/OnlineTrends'" src="{{ url_for('static', filename='iconsbutton/Triangle.png') }}"
         style="position: absolute; top: 251px; left: 181px; right: 0px; bottom: 0px; border: none; padding: 0px;">
</div>
{% endblock %}

{% block switch %}
fetch('/data_log')
    .then(response => response.json())
    .then(data => {
        var div_content = document.createElement('div');
        div_content.classList.add("content");
        var table = document.createElement('table');

        var tr_All = document.createElement('tr');

        var th_Date = document.createElement('th');
        th_Date.textContent = 'Дата';
        th_Date.style.width = '50px';
        th_Date.style.height = '20px';
        tr_All.appendChild(th_Date);

        var th_Time = document.createElement('th');
        th_Time.textContent = 'Время';
        th_Time.style.width = '40px';
        th_Time.style.height = '20px';
        tr_All.appendChild(th_Time);

        var th_Comment = document.createElement('th');
        th_Comment.textContent = 'Комментарии';
        th_Comment.style.width = '170px';
        th_Comment.style.height = '20px';
        tr_All.appendChild(th_Comment);

        var th_Info = document.createElement('th');
        th_Info.textContent = 'Информация';
        th_Info.style.width = '65px';
        th_Info.style.height = '20px';
        tr_All.appendChild(th_Info);

        table.appendChild(tr_All);

        for (let i = 0; i < data.length; i++) {
            var tr_All = document.createElement('tr');

            var td_Date_Text = document.createElement('td');
            td_Date_Text.textContent = data[i].Date;
            tr_All.appendChild(td_Date_Text);

            var td_Time_Text = document.createElement('td');
            td_Time_Text.textContent = data[i].Time;
            tr_All.appendChild(td_Time_Text);

            var td_Comment_Text = document.createElement('td');
            td_Comment_Text.textContent = data[i].Comment;

            td_Comment_Text.addEventListener('click', function() {
                if (data[i].Link==="SetpointPlanner") {
                    window.location.href = "/SetpointPlanner";
                } else if (data[i].Link==="EngineParameters") {
                    window.location.href = "/EngineParameters";
                } else if (data[i].Link==="SensorSettings") {
                    window.location.href = "/SensorSettings";
                } else if (data[i].Link==="PumpParametersInGeneral") {
                    window.location.href = "/PumpParametersInGeneral";
                } else if (data[i].Link==="OnAdditionalPumps") {
                    window.location.href = "/OnAdditionalPumps";
                } else if (data[i].Link==="OffOfAdditionalPumps") {
                    window.location.href = "/OffOfAdditionalPumps";
                } else if (data[i].Link==="Options") {
                    window.location.href = "/Options";
                } else if (data[i].Link==="EmergencyModes") {
                    window.location.href = "/EmergencyModes";
                }
            });
            tr_All.appendChild(td_Comment_Text);

            var td_Info_Text = document.createElement('td');
            td_Info_Text.textContent = data[i].Info;
            tr_All.appendChild(td_Info_Text);

            table.appendChild(tr_All);
        }
        div_content.appendChild(table);
        document.body.appendChild(div_content);
})
{% endblock %}

{% block clock %}
<div id="clock"></div>
{% endblock %}