{% extends 'Base.html' %}

{% block title %}
<title>Текущие события</title>
{% endblock %}

{% block buttons %}
.buttons {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
{% endblock %}

{% block button200x60 %}
.button200x60 {
    border: none;
    padding: 0px;
    width: 200px;
    height: 60px;
    background: black;
    box-shadow: inset -3px 0 0 0px #8E8E8E, inset 3px 0 0 0px #8E8E8E, inset 0 -2px 0 0px #8E8E8E, inset 0 2px 0 0px #8E8E8E;
    font-family: Roboto;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 47px;
}
{% endblock %}

{% block body %}
<div>
    <img onclick="window.location.href='/'" src="{{ url_for('static', filename='iconsbutton/MainScreen.png') }}"
         style="position: absolute; top: 16px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/'" class="button200x60">Главный экран</button>

    <img onclick="window.location.href='/SetpointPlanner'" src="{{ url_for('static', filename='iconsbutton/Back.png') }}"
         style="position: absolute; top: 80px; left: 13px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/SetpointPlanner'" class="button200x60">Назад</button>

    <img src="{{ url_for('static', filename='iconsbutton/Monitoring.png') }}"
          style="position: absolute; top: 137px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button class="button200x60">Текущие события</button>
    <img src="{{ url_for('static', filename='iconsbutton/Triangle.png') }}"
         style="position: absolute; top: 131px; left: 181px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img onclick="window.location.href='/JournalHistory'" src="{{ url_for('static', filename='iconsbutton/Monitoring.png') }}"
         style="position: absolute; top: 198px; left: 10px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/JournalHistory'" class="button200x60">Журнал историй</button>
    <img onclick="window.location.href='/JournalHistory'" src="{{ url_for('static', filename='iconsbutton/Link.png') }}"
         style="position: absolute; top: 201px; left: 169px; right: 0px; bottom: 0px; border: none; padding: 0px;">

    <img onclick="window.location.href='/ChangeLog'" src="{{ url_for('static', filename='iconsbutton/PumpOperatingTime.png') }}"
         style="position: absolute; top: 257px; left: 13px; right: 0px; bottom: 0px; border: none; padding: 0px;">
    <button onclick="window.location.href='/ChangeLog'" class="button200x60">Журнал изменений</button>
</div>

<!--<a href="/"><img src="{{ url_for('static', filename='Journal/MainScreen.png') }}"/></a>-->
<!--<a href="/SetpointPlanner"><img src="{{ url_for('static', filename='Journal/Back.png') }}"/></a>-->
<!--<a><img src="{{ url_for('static', filename='Journal/NowEventsOpen.png') }}"/></a>-->
<!--<a href="/JournalHistory"><img src="{{ url_for('static', filename='Journal/JournalHistory.png') }}"/></a>-->
<!--<a href="/ChangeLog"><img src="{{ url_for('static', filename='Journal/JournalEdits.png') }}"/></a>-->

<div id="clock"></div>
{% endblock %}